.bt1{
	background-color: green;
	float: left;
	width: 40%;
	height: 65px;
	color: #fff;
	font-size: 20px;
	margin-left: 10px;
}

.bt2{
	background-color: red;
	float: right;
	width: 40%;
	height: 65px;
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}

img{
	width: 50%;
}