
#sidemenu{
	display: none;
}
.dis{
	display: inline;
}
#sidemenu:checked + aside {
	/*为被选中的sidemenu后的aside设置属性（紧邻）*/
	left: 0;
	/*点击按钮即选中checked后,侧边栏位置变为贴着左边,配合ease-out使用,有渐变滑出的效果*/
}

#sidemenu:checked ~ #wrap {
	/*为被选中的sidemenu后的wrap设置属性（非紧邻）*/
	padding-left: 200px;
}

aside {
	/*侧边栏,初始位置为-200px，即隐藏效果*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: -200px;
	width: 200px;
	transition: 0.2s ease-out;
	/*动画效果的执行方式是ease-out，即侧边栏滑动效果为渐变式，而不是生硬的突然变化*/
}

/*控制侧边栏进出的按钮（外部包裹）*/
#wrap {
	transition: 0.2s ease-out;
	text-align: left;
	width: 100%;
}

/*控制侧边栏进出的按钮（内部文字样式）*/
label {
	/*控制侧边栏进出的按钮*/
	color: white;
	display: inline-block;
	font-size: 40px;
}



header{
	background-color: #29bde0;
	height: 50px;
}


body{
	background-color: #f0f0f0!important;

}
div{
	text-align: center;
}
.right{
	float: right;
	margin-right: 0.5rem;
}

.module1{
	background-color: #fff;
	margin-top: 2rem;
	padding-top: 2rem;
	height: 6rem;
	margin-left: 5rem;
	color: #9a9a9a;
}
.module2{
	background-color: #fff;
	margin-left: 5rem;
	height: 50rem;
	
}

.text1{
	margin-top: 2rem;
}
.text2{
	background-color: #fff;
	margin-top: 2rem;
	height: 6rem;
	padding-top: 2rem;
	color: #fde1ae;
	border: 2px solid #fde1ae;
	border-top: none;
	border-left: none;
	border-right: none;
}

.blue{
	text-align: center;
	margin-top: 2rem;
	height: 7rem;
	background-color: #69d1e9;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	padding-top: 2.5rem;
	color: #f0f0f0;
}

.text3{
	margin-top: 2rem;
	color: #9a9a9a;
}
.left{
	text-align: left;
}
#c1{
	background-color: #69d1e9;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display:inline-block
}
#right{
	float: right;
}
.cirle{
		background-color: #f0f0f0;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		display:inline-block
}

.foot{
	margin-right: auto;
	margin-left: auto;
}

.sanjiao{
	width: 0px;
	height: 0px;
	border:10px;
 	color: #fbb435;
	border-top-color: transparent;
	border-style: solid;
	border-bottom-color:transparent;
	border-left-color: #fbb435;
	border-right-color:transparent; 
	float: right;
	position: fixed;
	top: 380px;
	right: 0;
}

.white{
	background: white;
	height: 100%;

	
}
.menu{
	height: 50px;


}
.xian{
	border: 1px solid #9a9a9a;
	border-top: none;
	border-left: none;
	border-right: none;
}

