html{
	background-color: cyan;
}
header
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 5rem;
	background-color:cyan;

}

main
{
	position: absolute;
	top:5rem;
	left: 0px;
	right: 0px;
	height: 20rem;
	background-color:cyan;
	text-align:center
}

footer
{
	position: absolute;
	top:25rem;
	left: 0px;
	right: 0px;
	height: 10rem;
	background-color:cyan;
}

p
{
	height: 12rem;
	color: white;
	margin-top:5rem;
	margin-left: 20%;
	margin-right: 20%;	
}

#a
{

	margin: 0.6rem;
	padding: 0.6rem;
	width: 1rem;
	height: 1rem;

}
#b
{
	margin-top: 3rem;

	text-align:center
	
	
}

#c{
	position: absolute;
	margin-top: 1rem;
	
	right: 1rem;
	width: 5rem;
	height: 5rem;

	
}
#d{
	position: absolute;
	margin-top: 1rem;
	float: right;
	left: 1rem;
	top: 1rem;
	width: 5rem;
	height: 5rem;


}