
    #sidemenu{
        display: none;
    }

    #sidemenu:checked + aside {
        /*为被选中的sidemenu后的aside设置属性（紧邻）*/
        left: 0;
        /*点击按钮即选中checked后,侧边栏位置变为贴着左边,配合ease-out使用,有渐变滑出的效果*/
    }

    #sidemenu:checked ~ #wrap {
        /*为被选中的sidemenu后的wrap设置属性（非紧邻）*/
        padding-left: 220px;
    }

    aside {
        /*侧边栏,初始位置为-200px，即隐藏效果*/
        position: absolute;
        top: 0;
        bottom: 0;
        left: -200px;
        width: 200px;
        transition: 0.2s ease-out;
        /*动画效果的执行方式是ease-out，即侧边栏滑动效果为渐变式，而不是生硬的突然变化*/
    }

    /*控制侧边栏进出的按钮（外部包裹）*/
    #wrap {
        margin-left: 20px;
        padding: 10px;
        transition: 0.2s ease-out;
    }

    /*控制侧边栏进出的按钮（内部文字样式）*/
    label {
        /*控制侧边栏进出的按钮*/

        display: inline-block;
    }